.sideBar {
  grid-area: sidebar;
  background-color: var(--color-bg-3);
  padding: 15px;

  ul li {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--color-ft-2);

    .link {
      &:visited {
        color: inherit;
      }

      &:hover {
        color: var(--color-ft-4);
      }

      &:active {
        color: var(--color-ft-2);
      }
    }

    &:nth-last-child(2) {
      margin: 30px 0 0 0;
    }

    &:last-child {
      margin: 30px 0 0 0;
    }
  }
}